
    <nav id="menu">
      <div id="spacer"></div>



        <form id="search">
          <div id="active_moods" style="margin-bottom:10px">
            <transition-group name="fade" mode="out-in" tag="div">
              <moodtag v-for="mood in moods" v-bind:key="mood" v-bind:mood="mood" class="list-item"></moodtag>
            </transition-group>
          </div>
        <input name="q" autocomplete="off" id="searcher" type="text" size="40" placeholder="Search for a Moodtag" />


        <div class="moodtags-container">
          <div id="moods">

            <transition-group name="fade" mode="out-in" tag="div">
              <moodtag v-for="mood in moods" v-bind:key="mood" v-bind:mood="mood" class="list-item"></moodtag>
            </transition-group>
          </div>

        </div>

        <div class="privacy-container">
          <div class="privacy-row">
              <div class="privacy-label">
                Public:
              </div>
              <input type="checkbox" name="toggle" id="toggle">
              <label for="toggle"></label>
          </div>
        </div>
    </nav>

    <main id="panel">
    <div class="smooth-scroll"> 
      <header>
        <button class="toggle-button"> <i class="ion-gear-a"></i> </button>
        <h2>Home Stream</h2>
      </header>

      <script src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/4.14.1/lodash.min.js"></script>

      <div id="grid-container">
        <button v-on:click="shuffle">Shuffle</button>
        <transition-group name="fade" tag="div">
          <square v-for="event in events" v-bind:event="event"  v-bind:key="event.id">
            {{ event }}
          </square>
        </transition-group>
      </div>
    </div>
    </main>
