body {
  background: #f2f2f2;
  font-family: 'Roboto', sans-serif;
}

body a {
  color: #aaaaaa;
}

body a:hover {
  color: #c8c8c8;
}

.content {
  display: flex;
  flex-flow: row wrap;
  max-width: 100%; }

.content__left {
  width: 15%; }

.content__middle {
  width: 50%;
  text-align: center;
  margin: auto;
  margin-bottom: 50px;
  margin-top: 0px;
}

.content__right {
  width: 15%; }


@media (max-width: 1400px) {
  .content__left {
    width: 20%; }
  .content__middle {
    width: 80%; }
  .content__right {
    display: none; } }

@media (max-width: 768px) {
  .content__left {
    width: 100%; }
  .content__middle {
    width: 100%; } }

html, body {
  max-width: 100%;
  overflow-x: hidden;
}

button {
  border-radius: 5px;
  border: none;
  padding: 5px 15px;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 11px;
  outline: none; }
  button:hover {
    cursor: pointer; }

.button-dark {
  background: #0dfaf2;
  color: white;
  border: 1px solid #0dfaf2; }
  .button-dark:hover {
    background: #04dbd2;
    border: 1px solid #0dfaf2;  }

.button-light {
  background: none;
  color: #c8c8c8;
  border: 1px solid #c8c8c8; }
  .button-light:hover {
    border-color: white;
    color: white; }

.section-title {
  text-transform: uppercase;
  color: #aaaaaa;
  letter-spacing: 1.25px;
  font-size: 14px;
  margin-bottom: 10px;
  margin-top:0px;
}

::-webkit-scrollbar {
  width: 8px; }

::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background: #373737; }
