body{
  background-color: #f8f8f8;
}

/** search bar **/

.search-bar-container{
  background-color: #34363f
}


#search {
  margin-top: 10px;
}


#search input[type="text"] {
    background: url(../img/search-bar.png) no-repeat 10px 6px #444;
    border: 0 none;
    font: bold 12px Arial,Helvetica,Sans-serif;
    color: #d7d7d7;
    width:300px;
    padding: 6px 15px 6px 35px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    text-shadow: 0 2px 2px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.1), 0 1px 3px rgba(0, 0, 0, 0.2) inset;
    -moz-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.1), 0 1px 3px rgba(0, 0, 0, 0.2) inset;
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.1), 0 1px 3px rgba(0, 0, 0, 0.2) inset;
    -webkit-transition: all 0.7s ease 0s;
    -moz-transition: all 0.7s ease 0s;
    -o-transition: all 0.7s ease 0s;
    transition: all 0.7s ease 0s;
    }

#search input[type="text"]:focus {
    background: url(search-dark.png) no-repeat 10px 6px #fcfcfc;
    color: #6a6f75;
    width: 320px;
    -webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.1), 0 1px 0 rgba(0, 0, 0, 0.9) inset;
    -moz-box-shadow: 0 1px 0 rgba(255, 2ß55, 255, 0.1), 0 1px 0 rgba(0, 0, 0, 0.9) inset;
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.1), 0 1px 0 rgba(0, 0, 0, 0.9) inset;
    text-shadow: 0 2px 3px rgba(0, 0, 0, 0.1);
    }


.artist {
  height: 617px;
  overflow-y: scroll; }
  .artist__header {
    height: 55px;
    border-bottom: 1px solid #698b9b;
    position: relative;
    background-image: linear-gradient( rgba(60, 166, 244, 0.6), rgba(60, 166, 244, 0.1) ), url(https://static1.squarespace.com/static/52d45140e4b0ae205c434b6f/t/57d9c5c1f7e0abbf1b91308b/1473889766423/Saint+Ann+Restaurant+%26+Bar+Patio.jpg?format=1500w);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    overflow: hidden;
    z-index: 1;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: flex-end; }
  .artist__header:before {
    content: ' ';
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
    opacity: 0.15;
    background-image: url( );
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top; }
  .artist__header .artist__info {
    padding: 15px;
    z-index: 1;
    width: 100%;
    margin-top: 10px;
    display: inline-block;
    flex-flow: row wrap;
    align-items: flex-end;

  }
  .artist__header .artist__info .profile__img {
    margin-right: 15px; }
    .artist__header .artist__info .profile__img img {
      width: 150px;
      height: 150px;
      border-radius: 20%; }
  .artist__header .artist__info__type {
    color: #aaaaaa;
    text-transform: uppercase;
    font-size: 11px;
    letter-spacing: 1px; }
  .artist__header .artist__info__name {
    color: white;
    font-size: 36px;
    font-weight: 100; }\
    .artist__header .artist__info__followers {
      display: inline-flex;
      float: right;
      align-items: center;
      flex-flow: row wrap;
    }
  .artist__header .artist__info__actions {
    display: inline-flex;
    margin-top: 10px;
    width: 212px;
    margin: auto;
    align-items: center;
    flex-flow: row wrap;
  }
    .artist__header .artist__info__actions button {
      margin-right: 10px;
      height: 27px;
      display: flex;
      flex-flow: row wrap;
      align-items: center;
      padding: 0 15px;
      font-weight: 500; }
      .artist__header .artist__info__actions button i {
        font-size: 20px;
        margin-right: 5px; }
    .artist__header .artist__info__actions .more {
      width: 27px;
      height: 27px;
      border-radius: 50%;
      padding: 0;
      text-align: center; }
      .artist__header .artist__info__actions .more i {
        margin: 0;
        padding-left: 6px; }
  .artist__header .artist__listeners {
    width: 20%;
    z-index: 1;
    text-align: right;
    color: #fff;
    font-weight: 100;
    font-size: 16px;
    letter-spacing: 1px; }
    .artist__header .artist__listeners__label {
      color: #fff;
      font-weight: 300;
      margin-left: 6px;
      margin-right: 6px;
      text-transform: uppercase;
      font-size: 12px;
      letter-spacing: 1px; }
    .artist__header .artist__listeners__count {
      color:#fff;
    }
  .artist__header .artist__navigation {
    width: 100%;
    z-index: 100;
    background: rgba(24, 24, 24, 0.6);
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center; }
  .artist__header .artist__navigation ul {
    border: none; }
    .artist__header .artist__navigation ul li {
      padding: 0 15px; }
      .artist__header .artist__navigation ul li a {
        padding: 15px 0;
        color: #aaaaaa;
        border: none;
        text-transform: uppercase;
        letter-spacing: 1px;
        transition: all 0.4s ease;
        border-bottom: 4px solid transparent; }
        .artist__header .artist__navigation ul li a:hover {
          background: none;
          border: none;
          color: white;
          transition: all 0.4s ease;
          border-bottom: 4px solid transparent; }
      .artist__header .artist__navigation ul li.active a {
        color: white;
        background: none;
        border: none;
        border-bottom: 4px solid #0dfaf2; }
        .artist__header .artist__navigation ul li.active a:hover {
          border-bottom: 4px solid #0dfaf2; }
  .artist__header .artist__navigation__friends {
    padding: 15px; }
  .artist__header .artist__navigation__friends img {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    position: relative; }
  .artist__header .artist__navigation__friends .tooltip {
    z-index: 1;
    position: absolute; }
  .artist.is-verified .profile__img {
    position: relative; }

    /** moodtags container **/

    .moodtags-container {
      margin-top: 1px;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      background-color: #34363f;
      padding: 10px 30px 30px 30px;
    }

    .moodtag {
      display: inline-flex;
      padding: 4px;
      background-color: #fafafa;
      border-radius: 5px;
      margin: 4px;
    }

    .moodtag-icon{
      max-height: 15px;
      max-width: 15px;
    }

    .moodtag-icon img{
      max-height: 15px;
      max-width: 15px;
    }

    .moodtag-label{
      color: #3ca6f4;
      margin-left: 2px;
      text-transform:uppercase;
      font-size: 11px;
    }
